body {
    font-family: "Roboto", "Open Sans", "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2%;
    color: #434455;
    width: 1440px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Menu navigation */

li {
    display: inline-block;
    margin-right: 40px;
}

.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.logo-web {
    color: #4D5AE5;
    text-transform: uppercase;
}
.logo-studio {
    color: #2E2F42;
    text-transform: uppercase;
}

.navigation a {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
}

.navigation a:hover,
.navigation a:focus {
    color: #404BBF;
}

.studio:active {
    text-decoration: underline #404BBF;
}

.contacts a {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
}
.contacts a:hover {
    color: #404BBF;
}

/* Tagline */


.container-tagline {
    background-color: #2E2F42;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

h1 {
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    margin: auto;
    color: #FFFFFF
    
}

.order-service-button {
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 4%;
    cursor: pointer;
}
.order-service-button:active {
    background-color: #404BBF;
}

/* Benefits */

.container-benefits {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    margin-left: 156px;
    margin-right: 156px;
    background-color: #FFFFFF;
}

.section-title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #2E2F42;
}

.list-item-title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
}

.list-item-text {
    width: 264px;
    line-height: 1.5;
    color: #434455;
}

/* Our Team */

.container-team {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #F4F4FD;
}


.team-list-item {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px #8E8F99;
    text-align: center;
    border-radius: 5px;
    
}

/* Our portfolio */

.container-portfolio {
    display: flex;
        box-sizing: border-box;
        flex-direction: column;
        background-color: #FCFCFC;
    }

.portfolio-list-item {
    background-color: #FFFFFF;
    padding-top: 48px;
    border-style: solid;
    border-top: none;
    border-left-color: #E7E9FC;
    border-right-color: #E7E9FC;
    border-bottom-color: #E7E9FC;
}

/* Footer */

.container-footer {
    background-color: #2E2F42;
    height: 312px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 156px;
    padding-top: 100px;

}

.logo-studio-footer {
    color: #F4F4FD;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    width: 264px;
}
